$color-map: (
    primary:#0e6cff,
    secondary:#ff8700,
    tertiary:#4caf50,
);

@mixin color-btn ($propety) {
    @each $color, $value in $color-map {
        .#{$propety}-#{$color} {
            background-color: #{$value};
        }
    }
}

@include color-btn('btn')