* {
    font-family: "Indie Flower", 400, cursive;
    margin: 0;
    padding: 0;
    }

.lavagna {
    display: flex;
    background-color: grey;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.postit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 400px;
    height: 300px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.57);
    transition: all 0.3s linear;
}

.postit h2 {
    font-size: 2.5rem;
}

.postit p {
    font-size: 1.5rem;
}

.yellowPost {
    background: linear-gradient(0deg, rgba(185, 185, 161, 1) 0%, rgba(249, 247, 205, 1) 100%);
}

.greenPost {
    background: linear-gradient(0deg, rgba(161, 184, 162, 1) 0%, rgba(201, 251, 203, 1) 100%);
}

.purplePost {
    background: linear-gradient(0deg, rgba(138, 139, 154, 1) 0%, rgba(200, 200, 248, 1) 100%);
}

.postit:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotate(-2deg);
    animation: postitAnimation1 1s linear;
}

.postit:nth-of-type(2) {
    transform-origin: bottom;
    transform: rotate(2deg);
    animation: postitAnimation2 1.1s linear;
}


.postit:nth-of-type(3) {
    transform-origin: bottom;
    transform: rotate(-3deg);
    animation: postitAnimation3 1.2s linear;
}


.postit:nth-of-type(4) {
    transform-origin: bottom;
    transform: rotate(2deg);
    animation: postitAnimation4 1.3s linear;
}


.postit:nth-of-type(5) {
    transform-origin: bottom;
    transform: rotate(-2deg);
    animation: postitAnimation5 1.4s linear;
}


.postit:nth-of-type(6) {
    transform-origin: bottom;
    transform: rotate(-4deg);
    animation: postitAnimation6 1.5s linear;
}


.postit:nth-of-type(7) {
    transform-origin: bottom;
    transform: rotate(-3deg);
    animation: postitAnimation7 1.6s linear;
}


.postit:nth-of-type(8) {
    transform-origin: bottom;
    transform: rotate(2deg);
    animation: postitAnimation8 1.7s linear;
}


.postit:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

@keyframes postitAnimation1 {
    0% {
        transform: rotate(-20deg) translate(-50px,-600px);
    }
    100%{
        transform: rotate(-2deg);
    }
}
@keyframes postitAnimation2 {
    0% {
        transform: rotate(-20deg) translate(-25px,-600px);
    }
    100%{
        transform: rotate(2deg);
    }
}
@keyframes postitAnimation3 {
    0% {
        transform: rotate(-20deg) translate(25px,-600px);
    }
    100%{
        transform: rotate(-3deg);
    }
}
@keyframes postitAnimation4 {
    0% {
        transform: rotate(-20deg) translate(50px,-600px);
    }
    100%{
        transform: rotate(2deg);
    }
}
@keyframes postitAnimation5 {
    0% {
        transform: rotate(-20deg) translate(-50px,-600px);
    }
    100%{
        transform: rotate(-2deg);
    }
}
@keyframes postitAnimation6 {
    0% {
        transform: rotate(-20deg) translate(-25px,-600px);
    }
    100%{
        transform: rotate(-4deg);
    }
}
@keyframes postitAnimation7 {
    0% {
        transform: rotate(-20deg) translate(25px,-600px);
    }
    100%{
        transform: rotate(-3deg);
    }
}
@keyframes postitAnimation8 {
    0% {
        transform: rotate(-20deg) translate(50px,-600px);
    }
    100%{
        transform: rotate(2deg);
    }
}